/*PARA TODA A PÃGINA*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-image: linear-gradient(to bottom, #17f4ea, #00e7ff, #0bd6ff, #78c1ff, #b2a9ff, #b3aaff, #b4aaff, #b5abff, #83c4ff, #48daff, #2cedff, #5ffbf1);
}


/*DIV CLASS DO BODY*/
.header-container {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}

/*DIV CONTAINER DO BODY*/
.container {
    background-color: rgb(197, 250, 245);
    padding: 1rem;
    position: sticky;
    top: 0;
    box-shadow: 10px 0px 10px black;
    z-index: 99;
}

/*LISTA DO MENU*/
.container>div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

/*NOME DO H1*/
.logo {
    color: black;
}
/*MUDAR COM DA LETRA EM SPAN*/
.logo span {
    color: palevioletred;
}

/*ALINHAMENTO DO MENU*/
nav ul {
    display: flex;
    list-style: none;
    align-items: center;
}

/*ICONES DO MENU - REMOVER FUNDO*/
.icones-container-nav {
    display: flex;
    align-items: center;
    mix-blend-mode: multiply;
}
/*ICONES DO MENU*/
.icones-container-nav img {
    width: 30px;
    cursor: pointer;  
}

/*ICONES DO MENU*/
.icones-container-nav img:first-child {
    margin-right: 1rem;
}

/*MENU*/
nav ul li {
    color: black;
    margin-right: 1.5rem;
    cursor: pointer;
}

/*MOVIMENTO DO MENU*/
nav ul li:hover {
    transform: translateY(-5px);
    transition: all 0.2s;
    font-weight: bold;  
}


/**/
.header-button-side {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

/*ESTILO LADO ESQUEDO*/
.header-button-left {
    height: 100%;
    flex-basis: 50%;
}

.header-button-left h2 {
    font-family: sacramento;
    text-align: center;
    font-size: 7rem;
    color: #a0144e;
    margin-bottom: 1.5rem;
    text-shadow: 4px 4px 6px rgb(248, 247, 247);
}

.header-button-left p {
    position: relative;
    top: -25px;
    margin-left: 4%;
    font-size: 20px;
    line-height: 1.2rem;
    margin-bottom: 1.4rem;
  
}

.header-button-left .my-name p i {
    color: #a0144e;
    font-family: sacramento;
    font-size: 2rem;
    margin-left: 28%;


}

.header-my-class h1{
    text-align: center;
    margin-bottom: -5%;
    font-style: italic;
    text-shadow: 3px 2px 4px #cafaa3; 
    

}
.header-my-class h4 {
    color: maroon;
    text-align: center;
    margin-top: 6%;
    margin-bottom: 1.6%;
    font-size: 20px;
}

.header-my-class p {
    font-size: 18px;
    margin-left: 38%;
    text-align: left;
}

.header-my-class img {
    width: 29%;
    margin-top: -18%;
    margin-left: 7%;
    border-style: groove;
}

/*ESTILO LADO DIREITO*/
.header-button-right {
    flex-basis: 50%;
    margin-top: -20rem;
    align-items: center;
    margin: 0;
    z-index: 1;
    
}
/*MINHA FOTO*/
.header-button-right img {
    width: 60%;
    margin-top: -1rem;
    margin-left: 10rem;
    border-radius: 100rem;
}

.header-flores img {
    width: 80%;
    margin-left: 17%;
    margin-top: auto;
    
}

/*PROFESSORA*/
.header-my-teacher h3 {
    text-align: center;
    margin-top: 8%;
    font-size: 31px;    
}

.header-my-teacher p {
    margin-left: 6.5%;
    margin-top: -15%;
    font-size: 18px;  
}

.header-my-teacher b {
    text-transform: uppercase;
}

.header-my-teacher span {
    color: #a0144e;
    text-shadow: 3px 2px 4px #f66cfd; 
    
}

.header-my-teacher img {
    width: 17%;
    border-radius: 100rem;
    border-style: ridge;
    margin-left: 75%;  
}

.line-decor {
    font-size: 30px;
    text-align: center;
    margin-top: 2%;
}

/*MONITORA*/
.header-my-monitora h4  {
    margin-top: 6%;
    font-size: 31px;
    text-align: center;
    margin-bottom: 1%;
}

.header-my-monitora span {
    color: #a0144e;
    text-shadow: 3px 2px 4px rgb(250, 137, 235); 
    
}

.header-my-monitora p{
    margin-left: 27%;
    margin-top: -16%;
    font-size: 18.2px;
     
}
.header-my-monitora img {
    width: 17%;
    border-radius: 100rem;
    border-style: ridge;
    margin-left: 9%;  
}

.line-decor1 {
    font-size: 30px;
    text-align: center;
    margin-top: 2%;
}



.header-thanks h3 {
    margin: 5%;
    margin-bottom: 1%;
    font-size: 40px;
    text-align: center;
    color: rgb(8, 76, 202);
    
}

.header-thanks  p {
    font-size: 18px;
    margin-bottom: -3%; 
    text-align: center;   
}

.header-thanks-amanda {
    width: 7.9%;
    margin-top: -10%;
    margin-left: 35rem;
}

.header-thanks-lethycya {
    width: 8%;
    align-items: center;
}

.header-names {
    margin-top: -62px;
    margin-left: 40%;
    font-size: 15.3px;
    letter-spacing: 1px;
}

.thank-you p{
    margin-top: -3%;
    font-size: 18px;
    text-align: center;
    margin: 45px;    
}

.thank-you img {
    width: 40%;
    margin-top: -4%;
    margin-left: 28rem;
}

/*RESPONSIVO*/




/*RESPONSIVO*/
@media (max-width: 900px){
    .logo{
        font-size: 1.2rem;
    }

    .menu-button {
        display: block;
    }

    .header-button-side {
        flex-direction: column;
        text-align: center;
        padding-top: 4rem;
    }

    nav {
        position: absolute;
        background-color: rgb(250, 163, 231);
        width: 100%;
        top: 46px;
        display: none;
    }

    .show-menu nav {
        display: block;
    }

    nav ul {
        flex-direction: column;
    }

    nav ul li {
        text-align: center;
        padding: 0.8rem;
    }

    .header-button-left h2 {
        margin-right: 1.6%;
    }

    .header-button-left p {
        margin-right: 3%;
        margin-left: 3%;
        text-align: center;
    }

    .header-button-left .my-name p i {
        margin-left: -3px;
    }


    .header-my-class p {
        font-size: 16px; 
        margin-left: 4%; 
        margin-right: 4%;
        text-align: center; 
    }
    
    .header-my-class img {
        width: 50%; 
        margin-top: 0; 
        margin-left: 28%; 
        display: block; 
        align-items: center;
    }

    .header-button-right {
        flex-basis: 100%; 
        margin-top: 0; 
        text-align: center; 
    }
    
    .header-button-right img {
        width: 50%; 
        margin-left: auto; 
    }
    
    .header-flores img {
        width: 100%; 
        margin-left: 0; 
    }
        
       
    .header-my-teacher h3 {
        font-size: 22px;
        text-align: center;
    }
    
        
    .header-my-teacher p { 
        margin-top: 5%; 
        font-size: 16px; 
        margin-right: 3.5%;
    }
        
    .header-my-teacher img {
        width: 40%; 
        margin-left: 30%;
        
    }
        
    .line-decor {
        font-size: 24px; 
    }

    .header-my-monitora h4 {
        font-size: 24px;
        margin-top: 3%;
    }
    
    .header-my-monitora p {
        margin-left: 21px;
        margin-right: 3.5%;
        margin-top: 5%;
        font-size: 16px;
    }
    
    .header-my-monitora img {
        width: 38%;
        margin-left: 30%;
        align-items: center;
    }

    .line-decor1 {
        font-size: 22px;
        margin-top: 1%;
    }
    
    .header-thanks h3 {
        font-size: 32px;
    }
    
    .header-thanks p {
        font-size: 16px;
        margin-left: 3%;
        margin-right: 3%;
    }
    
    .header-thanks-amanda {
        width: 18%;
        margin-left: 7.3rem;
    
    }
    
    .header-thanks-lethycya {
        width: 18%;
    }

    .header-names {
        margin-left: 19%; 
        font-size: 14px; 
        margin-top: 0.3%;
    }
    
    .thank-you p {
        margin: 15px; 
        font-size: 16px; 
    }
    
    .thank-you img {
        width: 80%;
        display: flex;
        align-items: center;
        margin: 0 auto; 
    }
}

.voltar {
    margin: 8px;
    text-align: center;
    font-size: 18px;
}

.links-footer-redes {
    width: 30%;
    height: 5rem;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.links-footer-redes a {
    width: calc(100% / 4);
    height: 100%;
    display: flex;
    justify-content: center;
}

.links-footer-redes a img {
    height: 100%;
}

.copyrigth {
    padding: 1rem 0;
    text-align: center;
}